.policy-topology-container svg text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 0.3em;
}

.policy-topology-container g.node:hover polygon {
  fill: #d3d3d3; /* Change the fill color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}


.policy-topology-container svg {
  height: 100%;
  width: auto;
}

.policy-topology-container {
  height: 700px;
}